{
  "env":{
    "node": true,
    "amd": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules":{
    "block-scoped-var": 2,
    "no-use-before-define": 2,
    "space-in-parens": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single", "avoid-escape"]
  }
}
